@charset "utf-8";
*, *::before, *::after {
	box-sizing: border-box;
}

body {
	margin: 0;
	padding: 0;

	color: #ffffff;
	font-family: "Roboto", "Arial", sans-serif;
	font-size: 16px;
	line-height: 1.38;
	background-color: #849d8f;
}

.body > input[type="radio"] {
	display: none;
}

img {
	max-width: 100%;
	height: auto;
}

.site-wrapper {
	min-width: 1200px;
	background-color: #849d8f;
	background: url("../img/back-1.png") top center no-repeat;

	transition: background-image 0.5s ease, background-color 0.5s ease;
}

.site-wrapper::before,
.site-wrapper::after {
	content: "";
	visibility: hidden;
}

.site-wrapper::before,
.site-wrapper::after {
	background-image: url("../img/back-2.png");
}

.site-wrapper::after {
	background-image: url("../img/back-3.png");
}


.container {
	width: 1200px;
	margin: 0 auto;
	padding: 0 27px;
	outline: 1px solid red;
	position: relative;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden,
input[type="range"].visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;

  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.dropdown,
.enter,
.search {
	display: none;
}

.main-menu,
.dropdown,
.user-menu,
.features ul,
.main-footer ul,
.breadcrumbs,
.filters,
.pagination-list {
	list-style: none;
}

a {
	color: #ffffff;
}

a:not(.button):hover,
a:not(.button):focus {
	color: #e84d37;
}

.button {
	display: inline-block;
	border: 1px solid transparent;
	max-width: 100%;
	text-align: center;
	text-decoration: none;
	padding: 0.68em 0.95em;
	font-size: 18px;
	line-height: 1;
	border-radius: 1.9em;
	font-weight: 700;
	color: #ffffff;
	background-image: linear-gradient(#f26843, #e74a35);
	box-shadow: 0 -0.11em 0.11em rgba(172, 16, 0, 0.6) inset;
	text-shadow: 0 0.11em 0.27em rgba(160, 32, 11, 0.75);
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.button:hover {
	color: #ffffff;
	background-image: -webkit-gradient(
		linear,
		left top,
		left bottom,
		from(#f58669),
		to(#ec6e5d)
		);
		background-image: linear-gradient(#f58669, #ec6e5d);
	}

	.button:active {
		transform: translateY(1px);
		box-shadow: inset 0 2px 2px #942718;
background-color: rgba(0, 0, 0, 0.07);
background-color: #ffffff;
background-image: linear-gradient(to top, #e1613e 0%, #d74531 100%);
	}

	.main-navigation .main-header-logo {
	  padding: 0;
	}

	.main-navigation  a {
		text-decoration: none;
		padding: 8px 15px;
		display: block;
		vertical-align: middle;
		margin-right: 5px;
		border-radius: 20px;
	}

	.main-menu-link:hover {
		color: #000000;
		background-color: #ffffff;
	}

	.main-menu-link:focus {
		background-color: #f7f6f3;
		box-shadow: inset 0 2px 1px #696969;
	}

	.current {
		background-color: #d07058;
		padding: 8px 15px;
		border-radius: 20px;
		margin-right: 10px;
	}

	.user-menu-btn {
		font-size: 14px;
		line-height: 1.14;
		text-align: center;
		background-color: rgba(255, 255, 255, 0.4);
		padding: 8px 15px;
		vertical-align: middle;
		border-radius: 20px;
		display: block;
	}

	.user-menu-item	.enter-btn,
	.user-menu-item .cart-btn,
	.user-menu-item .search-btn {
		padding-left: 40px;
		position: relative;
		margin-right: 15px;
	}

	.enter-btn::before {
		content: "";
		position: absolute;
		top: 5px;
		left: 15px;
		width: 20px;
		height: 20px;
		background: url("../img/entrance.svg") 0 0 no-repeat;
	}

.enter-btn:hover::before {
		background: url("../img/entrance-black.svg") 0 0 no-repeat;
	}

.cart-btn::before {
		content: "";
		position: absolute;
		top: 5px;
		left: 15px;
		width: 20px;
		height: 20px;
		background: url("../img/basket.svg") 0 0 no-repeat;
	}

	.cart-btn:hover::before {
		background: url("../img/basket-black.svg") 0 0 no-repeat;
	}

	.user-menu-item .products-added {
		color: #000000;
		background-color: #ffffff;
		padding: 10px 15px 10px 40px;
		border-radius: 20px;
		position: relative;
	}

	.products-added::before {
		content: "";
		position: absolute;
		top: 5px;
		left: 15px;
		width: 20px;
		height: 20px;
		background: url("../img/basket-red.svg") 0 0 no-repeat;
	}

	.user-menu-btn:hover {
		color: #000000;
		background-color: #ffffff;
	}

	.dropdown {
		width: 143px;
		font-size: 14px;
		background-color: #ffffff;
		border-radius: 10px;
	}

	.dropdown a {
		color: #000000;
	}

	.dropdown li:hover {
		background-color: #fbded7;

	}

	.dropdown li:focus {
		background-color: #f6b5a5;
	}

	.dropdown li:active {
		color:  #ffffff;
		background-color: #d07058;
	}

	.contact-phone {
		font-size: 22px;
		font-weight: 700;
		line-height: 1.09;
	}

 .title-promo {
	width: 700px;
	margin: 0 auto;
	margin-bottom: 30px;
	font-size: 60px;
	line-height: 1;
}

	.title-main {
		font-size: 35px;
		line-height: 1.17;
		margin: 0;
		padding: 0;
		padding: 10px 5px;
		margin-bottom: 30px;
	}

	.title-secondary {
		font-size: 24px;
		line-height: 1.25;
		font-weight: bold;
	}

 .slider {
		position: relative;
		padding-top: 270px;
		text-align: center;
		margin-right: auto;
		margin-left:  auto;
		margin-bottom: 40px;
	}

	.slider .button {
		font-size: 32px;
		font-weight: 700;
		line-height: 1.38;
		padding: 16px 40px;
	}

.slider-controls {
	position: absolute;
	bottom: 25px;
	left: 0;
	z-index: 20:auto;
	font-size: 0;
}

	.slider-controls label {
		display: inline-block;
		width: 17px;
		height: 17px;
		margin-right: 8px;
		vertical-align: top;
		background-color: transparent;
		border: 2px solid #ffffff;
		border-radius: 50%;
		cursor: pointer;
	}

.slide {
		display: none;
}

#btn-1:checked ~ .site-wrapper #slide-1,
#btn-2:checked ~ .site-wrapper #slide-2,
#btn-3:checked ~ .site-wrapper #slide-3 {
	display: block;
}

#btn-1:checked ~ .site-wrapper {
	background-color: #849d8f;
	background-image: url("../img/back-1.png");
}

#btn-2:checked ~ .site-wrapper {
	background-color: #8996a6;
	background-image: url("../img/back-2.png");
}

#btn-3:checked ~ .site-wrapper {
	background-color: #9d8b84;
	background-image: url("../img/back-3.png");
}

#btn-1:checked ~ .site-wrapper label[for="btn-1"],
#btn-2:checked ~ .site-wrapper label[for="btn-2"],
#btn-3:checked ~ .site-wrapper label[for="btn-3"] {
	background-color: #ffffff;
}

	.promo-banner {
		width: 560px;
		padding: 20px;
		border-radius: 20px;
		background: #f8f5f2 0 0 no-repeat;

	}

	.promo-banner .button {
float: right;
	}

	.promo .title-main,
	.promo p  {
		margin: 0;
	}

	.promo p {
		padding-bottom: 40px;
	}

	.promo-banner.raspberry {
		background-image: url("../img/rasberry-background.jpg");
	}

	.promo-banner.chocolate {
		background-image: url("../img/choco-background.png");
	}

	.features {
		width: 1148px;
		min-height: 308px;
		margin-bottom: 40px;
		padding: 20px 30px 0 20px;
		outline: 1px solid blue;
		color: #323232;
		background: url("../img/waffel-back.jpg")  0 0 no-repeat;
		background-color: #f1e6cf;
		border-radius: 20px;
	}

	.features ul,
	.features h3 {
		margin: 0;
		padding: 0;
	}

	.features-factors {
		display: flex;
		justify-content: space-around;
		flex-wrap: wrap;
		outline: 1px solid yellow;
	}

	.features-factor {
		width: 535px;
		padding-left: 60px;
		margin-bottom: 30px;
			}

.f1,
.f2,
.f3,
.f4 {
	position: relative;
}

.f1::before {
	content: "";
	position: absolute;
	top: auto;
	left: 0;
	width: 50px;
	height: 50px;
	background: url("../img/ice-cream.svg") 0 0 no-repeat;
	}

.f2::before {
		content: "";
		position: absolute;
		top: auto;
		left: 0;
		width: 50px;
		height: 50px;
		background: url("../img/cow.svg") 0 0 no-repeat;
		}

.f3::before {
			content: "";
			position: absolute;
			top: auto;
			left: 0;
			width: 50px;
			height: 50px;
			background: url("../img/eco.svg") 0 0 no-repeat;
			}

.f4::before {
				content: "";
				position: absolute;
				top: auto;
				left: 0;
				width: 50px;
				height: 50px;
				background: url("../img/thermometer.svg") 0 0 no-repeat;
				}



.features .title-secondary {
		padding-bottom: 15px;

	}

	.blog-news-alt {
		width: 560px;
		color:  #323232;
		background: url("../img/strawberry-background.jpg") 63% 50% no-repeat;
		background-color: #ffffff;
		border-radius: 20px;
		outline: 1px solid yellow;
		padding: 0 260px 75px 20px;
		background-size: cover;
	}

	.blog-news a {
		color: #323232;
	}

	.blog-news a:hover {
		color: #e84d37;
	}

	.subscribe-alt p {
		margin: 0;
		padding: 0;
	}

	.subscribe-alt {
		color: #323232;
		width: 567px;
		padding-top: 40px;
		padding-left: 30px;
		padding-right: 20px;

		background: #f9f7f5 0 0 no-repeat;
		border-radius: 20px;
		border-width: 5px;
		border-image-source: url("../img/envelope.png");
		position: relative;
	}

	.subscribe-form {
		margin-top: 40px;
		display: flex;
	}

	.subscribe-alt input {
		width: 370px;
		margin-right: 10px;
	}

	.subscribe-alt .button {
float: right;
margin-bottom: 50px;
			}

.map {
		position: relative;
		min-height: 430px;
		outline: 1px solid black;
	}

.map img {
		position: absolute;
		width: 1200px;
		height: 430px;
		top: 0; right: 0; bottom: 0; left: 0;
		margin: auto;
		z-index: 1;
	}

	.contacts {
		width: 300px;
		min-height: 305px;
		padding: 10px 15px;
		color: #323232;
		border-radius: 15px;
		background-color: #ffffff;
		box-shadow: 0 0 5px rgba(0,0,0,0.3);
		position: absolute;
		top: 65px;
		right: 25px;
		z-index: 2;
	}

	.contacts p {
		font-size: 14px;
		line-height: 1.43;
	}

	.contact-details {
		font-size: 18px;
		line-height: 1.33;
		font-weight: bold;
	}

	.modal {
		color: #323232;
		border-radius: 10px;
		background-color: #f8f7f4;
		box-shadow: 0 20px 20px rgba(0, 0, 0, 0.4);
	}


	.feedback {
		width: 480px;
		padding: 20px;
		position: absolute;
	}

	.feadback h2 {
		margin: 0;
		padding: 0;
	}

	.feedback .modal-close {
		float: right;
		width: 18px;
		height: 18px;
		background: url("../img/cross-big.svg") no-repeat;
		border: none;
		background-color: transparent;
	}

.item-remove {
	width: 11px;
	height: 11px;
	background: url("../img/cross-small.svg") no-repeat;
	border: none;
	background-color: transparent;
}

	.contact-form input {
		width: 265px;
	}

	.contact-form textarea {
		width: 427px;
		margin-bottom: 20px;
	}

	.feedback button {
		float: right;
	}

	.modal-cart {
		position: absolute;
		width: 540px;
		padding: 20px 15px;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: flex-end;
	}

	.modal-cart table {
		width: 100%;
		font-size: 13px;
		padding-bottom: 20px;
	}

	td {
		padding: 5px;
	}

	.remove {
		width: 2%;
	}

	.thumb {
		width: 8%;
	}

	.item-name {
		width: 50%;
	}

	.quantity {
		width: 12%;
		text-align: right;
	}

	.price {
		width: 14%;
		color: #aaa7a7;
	}

	.total {
		width: 14%;
	}

	.total-cart {
		font-weight: bold;
		padding: 15px;
	}


	.search {
		width: 345px;
		padding: 20px 15px;
		text-align: left;
	}

	.search p{
		margin: 0;
	}

	.search input {
		width: 100%;
	}

	.enter {
		width: 277px;
		padding: 10px 20px;
		padding-bottom: 10px;
		position: absolute;
	}

	.enter input {
		width: 100%;
	}

	.enter .button {
		float: left;
		margin-right: 10px;
	}

	.enter a {
		font-size: 13px;
		line-height: 0.5;
		margin: 0;
		text-align: left;
	}

.user-menu-item .search-btn {
	padding: 16px;
}

.search-btn::before {
	content: "";
	position: absolute;
	top: 7px;
	left: 7px;
	width: 18px;
	height: 18px;
	background: url("../img/loupe.svg") 0 0 no-repeat;
}

.search-btn:hover::before {
	background: url("../img/loupe-black.svg") 0 0 no-repeat;
}

	.modal input,
	.subscribe-alt input,
	.modal textarea {
		font-family: inherit;
		display: inline-block;
		vertical-align: baseline;
		padding: 15px 15px;
		border: 1px solid #d4d3d2;
		border-radius: 4px;
		background-color: #ffffff;
		box-sizing: border-box;
	}

	.modal input:hover,
	.subscribe input:hover,
	.search input:hover,
	.enter input:hover,
	.modal textarea:hover {
		border-color: #898888;

	}

	.modal input:focus,
	.subscribe input:focus,
	.search input:focus,
	.enter input:focus,
	.modal textarea:focus {
		border-color: #8dbdec;
	}

	.modal input:active,
	.subscribe input:active,
	.search input:active,
	.enter input:active,
	.modal textarea:active {
		color: #3d3d3d;
		font-weight: 700;
		border-color: #d4d3d2;
	}

	.enter a {
		color: #3d3d3d;
		text-decoration: underline;
	}

	.enter a:hover {
		color: #e84d37;
	}

	.breadcrumbs-current {
		text-decoration: none;
	}

	.filters fieldset {
		border: none;
	}

	.filters legend {
		color: #ffffff;
		padding-left: 15px;
		font-size: 14px;
	}

input[type="radio"],
input[type="radio"] + label,
input[type="checkbox"],
input[type="checkbox"] + label {
	opacity: 0.7;
	cursor: pointer;
	}

input[type="radio"]:hover,
input[type="radio"]:hover + label,
input[type="checkbox"]:hover,
input[type="checkbox"]:hover + label {
	opacity: 1;
	cursor: pointer;
}

input[type="radio"]:disabled,
input[type="radio"]:disabled + label,
input[type="checkbox"]:disabled,
input[type="checkbox"]:disabled + label {
		opacity: 0.3;
		cursor: not-allowed;
	}


.filter-radio,
.filter-checkbox {
	position: relative;
	padding-left: 35px;
}

input[type="radio"] + label::before {
	content: "";
	position: absolute;
	top: -3px;
	left: 5px;
	width: 25px;
	height: 25px;
	background: url("../img/radio-off.svg") 0 0 no-repeat;
}

input[type="radio"]:checked + label::before {
	content: "";
	position: absolute;
	top: -3px;
	left: 5px;
	width: 25px;
	height: 25px;
	background: url("../img/radio-on.svg") 0 0 no-repeat;
}

input[type="checkbox"] + label::before {
	content: "";
	position: absolute;
	top: -3px;
	left: 5px;
	width: 25px;
	height: 25px;
	background: url("../img/checkbox-off.svg") 0 0 no-repeat;
}

input[type="checkbox"]:checked + label::before {
	background: url("../img/checkbox-on.svg") 0 0 no-repeat;
}

	.filter-button {
		display: inline-block;
		width: 145px;
		height: 40px;
		font-family: inherit;
		font-size: 16px;
		line-height: 1.13;
		text-align: center;
		padding: 5px 20px;
		vertical-align: middle;
		color: #ffffff;
		background-color: rgba(255, 255, 255, 0.4);
		border-radius: 40px;
		border: 2px solid #ffffff;
		margin-top: 25px;
		margin-right: 10px;



	}

	.filter-button:hover {
		color: #000000;
		background-color: #ffffff;
	}

	.filter-button:focus {
		box-shadow: inset 0 2px 1px #696969;
		background-color: #ededed;
	}


	.pagination-list {
		padding-left: 0;
		font-size: 0;
		text-align: right;
		margin-top: 0;
	}

	.pagination-item {
		display: inline-block;
		vertical-align: middle;
		max-width: 100%;
		margin-right: 5px;
	}

	.pagination-link {
		position: relative;
	  display: block;
	  width: 25px;
	  height: 25px;
	  border-radius: 50%;
	  font-size: 16px;
	  font-weight: 500;
	  line-height: 25px;
	  text-align: center;
	  text-decoration: none;
		padding: 0 5px;
	  color: inherit;
	}

	.pagination-link:not(.inactive):not(.current):hover {
		color: #ffffff;
	  background-color: rgba(255, 255, 255, 0.2);
	}

	.pagination-link.current {
	    color: #323232;
	    background-color: white;
	}

	.pagination-link.current:hover {
	    color:  #000000;
	 }

		.pagination-link.inactive {
	    opacity: .2;
			pointer-events: none;
	}

	.pagination-item:first-child .pagination-link,
	.pagination-item:last-child .pagination-link {
	  text-indent: -9999px;
	}

	.pagination-item:first-child .pagination-link::after,
	.pagination-item:last-child .pagination-link::after {
	    position: absolute;
	    left: 0;
	    right: 0;
	    top: 0;
	    bottom: 0;
	    margin: auto;
	    content: "";
	    width: 9px;
	    height: 9px;
	    border-bottom: 2px solid currentColor;
	    border-left: 2px solid currentColor;
	}

	.pagination-item:first-child .pagination-link::after {
	  transform: rotate(45deg);
	}

	.pagination-item:last-child .pagination-link::after {
	  transform: rotate(-135deg);
	}

	.main-navigation {
		display: flex;
		align-items: center;
		justify-content: space-between;
		outline: 1px solid green;
		line-height: 1.13;
	}

	.main-header-logo {
		width: 160px;
		height: 60px;
		padding: 0;
	}

	.main-menu {
		width: 600px;
		margin-right: 200px;
		display: flex;
		flex-wrap: wrap;
		align-items: center;
	}

	.user-menu {
		margin: 0;
		padding: 0;
		width: 400px;
		text-align: right;
		display: flex;
		justify-content: flex-end;
		align-items: center;
}

.index-top-right {
	float: right;
}

.promo {
	display: flex;
	justify-content: space-between;
	margin: 0;
	padding: 0;
	margin-bottom: 40px;
}

.catalog-hits {
	display: flex;
	justify-content: space-between;
	margin-bottom: 30px;
}

.catalog {
	width: 1147px;
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	align-items: stretch;
}

.catalog-item {
	width: 267px;
	margin-bottom: 40px;
	text-align: center;
	position: relative;
}

.title-catalog-item {
	text-decoration: underline;
	font-weight: 500;
}

.price-item {
	font-size: 35px;
	font-weight: 700;
	line-height: 1;
	position: absolute;
	left: 0;
	bottom: 100px;
}

.catalog-hits .catalog-item::before {
	position: absolute;
	content: "";
	top:auto;
	width: 60px;
	height: 60px;
	background: url("../img/hit.svg")
}

.catalog-item .button-preview {
	display: none;
}

.index-columns {
	display: flex;
	justify-content: space-between;
	margin-bottom: 40px;
	min-height: 220px;
	outline: 1px solid orange;
}

.main-footer {
	font-size: 13px;
	display: flex;
	padding: 30px;
	justify-content: space-between;
	align-items: flex-start;
}

.footer-social {
	margin: 0;
	width: 200px;
	min-height: 45px;
	margin-right: 210px;
	outline: 1px solid yellow;
	}

.footer-social li {
	display: inline-block;
}

.company-details {
	margin: 0;
	width: 400px;
	min-height: 30px;
}

.company-details li {
	display: inline-block;
	margin-right: 32px;
}

.footer-copyright {
	font-size: 12px;
	margin: 0;
	width: 200px;
	min-height: 60px;
	margin-left: auto;
}

.breadcrumbs {
	padding-top: 25px;
}

.breadcrumbs li {
	display: inline-block;
	padding: 0 10px;
}

.filters-wrapper {
	width: 860px;
	display: flex;
	justify-content: space-between;
	align-items: flex-start;
	flex-wrap: wrap;
	margin-bottom: 40px;
	outline: 1px solid yellow;
	position: relative;
}

.filters p, ul {
	margin: 0;
	padding: 0;
}

.price-filter {
	width: 220px;
}

.range-controls {
	position: relative;
	padding: 20px;
	background: rgba(255, 255, 255, 0.3);
	border-radius: 40px;
}

.range-controls .scale {
	height: 3px;
	background: rgba(255, 255, 255, 0.3);
}

.range-controls .bar {
	margin-left: 35px;
  width: 40%;
  height: 3px;
  background: #ffffff;
}

.range-toggle {
  position: absolute;
  top: 11px;
  width: 20px;
  height: 20px;
  background: #cccccc;
  border: 8px solid #ffffff;
	border-radius: 50%;
}

.range-toggle:hover {
  cursor: pointer;
}

.range-toggle-min {
  left: 35px;
}

.range-toggle-max {
  left: 60%;
}

.fat-filter {
	width: 415px;
}

.sorting-list,
.fat-filter ul,
.filling-filter ul {
	display: flex;
	justify-content: space-between;
	list-style: none;
	background-color: rgba(255, 255, 255, 0.4);
	border-radius: 40px;
	padding: 10px;
}

.sorting-filter {
	width: 200px;
}

.sorting-container {
	position: relative;
}

.sorting-container::after {
	content: "";
  position: absolute;
  top: 5px;
  right: 10px;
  bottom: 0;
  margin-top: auto;
  margin-bottom: auto;
  width: .6em;
  height: .6em;
	background: url("../img/select-arrow.svg") 0 0 no-repeat;
}

.sorting-list {
	color:   #ffffff;
	font-size: 16px;
	width: 100%;
	height: 45px;
  padding: .5em;
	padding-left: 15px;
  border: 1px solid #ccc;
  font-size: inherit;
  background-color: rgba(255, 255, 255, 0.4);
  cursor: pointer;
  -webkit-appearance: none;
  -moz-appearance: none;
}

.sorting-list::-ms-expand {
	display: none;
}

.sorting-list option {
	color: #000000;
	background-color: white;
}

.sorting-container:hover::after {
	background: url("../img/select-arrow-black.svg") 0 0 no-repeat;
}

.sorting-list:hover {
	color:   #000000;
	background-color: #ffffff;
}

.filling-filter {
	width: 702px;
	margin-bottom: 18px;
}

.clearfix::after {
	content: "";
	clear: both;
	display: table;
}

.button-social {
	box-sizing: content-box;
  display: block;
  width: 33px;
  height: 32px;
  border: 3px solid rgba(255, 255, 255, 0.5);
  border-radius: 50%;
  opacity: .8;
	margin-right: 5px;
}

.button-social:hover {
border: 3px solid rgba(255, 255, 255, 0.5);
opacity: 1;
}

.button-social:focus {
opacity: 0.5;
}

.twitter {
	background: url("../img/twitter.svg") no-repeat;
}

.instagram {
	background: url("../img/instagram.svg") no-repeat;
}

.facebook {
	background: url("../img/fb.svg") no-repeat;
}

.vkontakte {
	background: url("../img/vk.svg") no-repeat;
}

.company-details .featured {
		position: relative;
}

.company-details .featured::before {
	content: "";
		position: absolute;
		top: 2px;
		left: -20px;
		width: 16px;
		height: 14px;
		background: url("../img/heart.svg") 0 0 no-repeat;
	}
