@charset "utf-8";
*, *::before, *::after {
  box-sizing: border-box;
}


body {
	margin: 0;
	padding: 0;

	color: #ffffff;
	font-family: "Roboto", "Arial", sans-serif;
	font-size: 16px;
	line-height: 1.38;

	background-color: #859e90;
}

.visually-hidden {
	position: absolute !important;
	clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
	clip: rect(1px, 1px, 1px, 1px);
	padding:0 !important;
	border:0 !important;
	height: 1px !important;
	width: 1px !important;
	overflow: hidden;
}

.dropdown,
.enter,
.search {
	display: block;
}

.main-menu,
.dropdown,
.user-menu,
.slider-list,
.features ul,
.main-footer ul,
.slider-switch,
.breadcrumbs,
.filters,
.pagination-list {
	list-style: none;
}

a {
	color: #ffffff;
}

a:hover,
a:focus {
	color: #e84d37;
}

.button {
	display: inline-block;
	border: 1px solid transparent;
	max-width: 100%;
	text-align: center;
	text-decoration: none;
	padding: 0.68em 0.95em;
	font-size: 18px;
	line-height: 1;
	border-radius: 1.9em;
	font-weight: 700;
	color: #ffffff;
	background-image: linear-gradient(#f26843, #e74a35);
	box-shadow: 0 -0.11em 0.11em rgba(172, 16, 0, 0.6) inset;
	text-shadow: 0 0.11em 0.27em rgba(160, 32, 11, 0.75);
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.button:hover {
	color: #ffffff;
	background-image: -webkit-gradient(
		linear,
		left top,
		left bottom,
		from(#f58669),
		to(#ec6e5d)
		);
		background-image: linear-gradient(#f58669, #ec6e5d);
}

.button:active {
	transform: translateY(1px);
}

.main-navigation  a {
	text-decoration: none;
	padding: 8px 15px;
	display: block;
	vertical-align: middle;
	margin-right: 5px;
}

.main-menu-link:hover {
	color: #000000;
	background-color: #ffffff;
	border-radius: 20px;
}

.main-menu-link:focus {
	background-color: #f7f6f3;
	box-shadow: inset 0 2px 1px #696969;
}

.current {
	background-color: #d07058;
	padding: 8px 15px;
	border-radius: 20px;
	margin-right: 10px;
}

.user-menu-btn {
	font-size: 14px;
	line-height: 1.14;
	text-align: center;
	background-color: rgba(255, 255, 255, 0.4);
	padding: 8px 15px;
	vertical-align: middle;
	border-radius: 20px;
	display: block;
}

.user-menu-btn:hover {
	color: #000000;
	background-color: #ffffff;
}

.dropdown {
	width: 143px;
	font-size: 14px;
	background-color: #ffffff;
	border-radius: 10px;
}

.dropdown a {
	color: #000000;
}

.dropdown li:hover {
	background-color: #fbded7;

}

.dropdown li:focus {
	background-color: #f6b5a5;
}

.dropdown li:active {
	color:  #ffffff;
	background-color: #d07058;
}

.contact-phone {
	font-size: 22px;
	font-weight: 700;
	line-height: 1.09;
}

.title-promo {
	font-size: 60px;
	line-height: 1;
}

.title-main {
	font-size: 35px;
	line-height: 1.17;
	margin: 0;
	padding: 0;
	padding: 10px 5px;
	margin-bottom: 30px;
}

.title-secondary {
	font-size: 24px;
	line-height: 1.25;
	font-weight: bold;
}

.slider-list {
	text-align: center;
}

.slider .button {
	font-size: 32px;
	font-weight: 700;
	line-height: 1.38;
	padding: 16px 40px;
}


.promo-banner {
	width: 560px;
	padding: 25px 20px 60px 20px;
	border-radius: 20px;
	background: #f8f5f2 0 0 no-repeat;
	position: relative;
	}

	.promo-banner .button {
		position: absolute;
		bottom: 20px;
		right: 20px;
	}

.promo .title-main,
.promo p  {
	margin: 0;
}

.promo p {
	padding-bottom: 40px;
}

.promo-banner.raspberry {
	background-image: url("../img/rasberry-background.jpg");
}

.promo-banner.chocolate {
	background-image: url("../img/choco-background.png");
}

.features {
	width: 1148px;
	min-height: 308px;
	margin-bottom: 40px;
	padding: 20px 30px 0 20px;
	outline: 1px solid blue;
	color: #323232;
	background: url("../img/waffel-back.jpg")  0 0 no-repeat;
	background-color: #f1e6cf;
	border-radius: 20px;
	}

.features ul,
.features h3 {
	margin: 0;
	padding: 0;
}

.features-factors {
	display: flex;
	justify-content: space-around;
	flex-wrap: wrap;
	outline: 1px solid yellow;
		}

.features-factor {
	width: 535px;
	padding-left: 60px;
	margin-bottom: 30px;

	}

.features .title-secondary {
	padding-bottom: 15px;

}

.blog-news-alt {
	width: 560px;
	color:  #323232;
	background: url("../img/strawberry-background.jpg") 0 0 no-repeat;
	background-color: #ffffff;
	border-radius: 20px;
	outline: 1px solid yellow;
	padding: 0 260px 75px 20px;
	}

.blog-news a {
	color: #323232;
}

.blog-news a:hover {
	color: #e84d37;
}

.subscribe-alt p {
	margin: 0;
	padding: 0;
}

.subscribe-alt {
	color: #323232;
	width: 567px;
	padding-top: 40px;
	padding-left: 30px;
	padding-right: 20px;

	background: #f9f7f5 0 0 no-repeat;
	border-radius: 20px;
	border-width: 5px;
	border-image-source: url("../img/envelope.png");
	position: relative;
	}

.subscribe-form {
	margin-top: 40px;
}

.subscribe-alt input {
	width: 370px;
}

.subscribe-alt .button {
	position: absolute;
	bottom: 40px;
	right: 25px;
}

.map {
	position: relative;
	min-height: 430px;
	outline: 1px solid black;
}

.map img {
	position: absolute;
	width: 1200px;
	height: 430px;
	top: 0; right: 0; bottom: 0; left: 0;
  margin: auto;
  z-index: -1;
}

.contacts {
	width: 300px;
	min-height: 305px;
	padding: 10px 15px;
	color: #323232;
	border-radius: 15px;
	background-color: #ffffff;
	box-shadow: 0 0 5px rgba(0,0,0,0.3);
	position: absolute;
	top: 65px;
	right: 25px;
}

.contacts p {
	font-size: 14px;
	line-height: 1.43;
}

.contact-details {
	font-size: 18px;
	line-height: 1.33;
	font-weight: bold;
}

.modal {
	color: #323232;
	border-radius: 10px;
	background-color: #f8f7f4;
	box-shadow: 0 20px 20px rgba(0, 0, 0, 0.4);
}


.feedback {
	width: 480px;
	padding: 20px;
	position: absolute;
}

.feadback h2 {
	margin: 0;
	padding: 0;
}

.feedback .modal-close {
	float: right;
}

.contact-form input {
	width: 265px;
}

.contact-form textarea {
	width: 427px;
	margin-bottom: 20px;
}

.feedback button {
	float: right;
}

.modal-cart {
	position: absolute;
	width: 540px;
	padding: 20px 15px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: flex-end;
}

.modal-cart table {
	width: 100%;
	font-size: 13px;
	padding-bottom: 20px;
}

td {
	padding: 5px;
}

.remove {
	width: 2%;
}

.thumb {
	width: 8%;
}

.item-name {
	width: 50%;
}

.quantity {
	width: 12%;
	text-align: right;
}

.price {
	width: 14%;
	color: #aaa7a7;
}

.total {
	width: 14%;
}

.total-cart {
	font-weight: bold;
	padding: 15px;
}


.search {
	width: 345px;
	padding: 20px 15px;
	text-align: left;
}

.search p{
	margin: 0;
}

.search input {
	width: 100%;
}

.enter {
	width: 277px;
	padding: 10px 20px;
	padding-bottom: 10px;
	position: absolute;
}

.enter input {
	width: 100%;
}

.enter .button {
float: left;
margin-right: 10px;
}

.enter a {
	font-size: 13px;
	line-height: 0.5;
	margin: 0;
	text-align: left;
	}

.modal input,
.subscribe-alt input,
.modal textarea {
	font-family: inherit;
	display: inline-block;
	vertical-align: baseline;
	padding: 15px 15px;
	border: 1px solid #d4d3d2;
	border-radius: 4px;
	background-color: #ffffff;
	box-sizing: border-box;
}

.modal input:hover,
.subscribe input:hover,
.search input:hover,
.enter input:hover,
.modal textarea:hover {
	border-color: #898888;

}

.modal input:focus,
.subscribe input:focus,
.search input:focus,
.enter input:focus,
.modal textarea:focus {
	border-color: #8dbdec;
}

.modal input:active,
.subscribe input:active,
.search input:active,
.enter input:active,
.modal textarea:active {
	color: #3d3d3d;
	font-weight: 700;
	border-color: #d4d3d2;
}

.enter a {
	color: #3d3d3d;
	text-decoration: underline;
}

.enter a:hover {
	color: #e84d37;
}

.products-added {
	color: #000000;
	background-color: #ffffff;
	padding: 10px 15px;
	border-radius: 20px;
}

.breadcrumbs-current {
	text-decoration: none;
}

.filters fieldset {
	border: none;
}

.filters legend {
	color: #ffffff;
	padding-left: 15px;
	font-size: 14px;
}


.filter-input + label {
		color: rgba(255, 255, 255, 0.7);
}

.filter-input:hover + label {
	color:  #ffffff;
}

.filter-input:disabled + label {
	color: rgba(255, 255, 255, 0.4);
}

.filter-button {
	width: auto;
	height: 35px;
	font-family: inherit;
	font-size: 16px;
	line-height: 1.13;
	text-align: center;
	padding: 5px 30px;
	vertical-align: middle;
	color: #ffffff;
	background-color: rgba(255, 255, 255, 0.4);
	border-radius: 40px;
	border: 2px solid #ffffff;
	position: absolute;
	bottom: 0;
	right:0;

}

.filter-button:hover {
	color: #000000;
	background-color: #ffffff;
}

.filter-button:focus {
	box-shadow: inset 0 2px 1px #696969;
	background-color: #ededed;
}

.pagination-item a {
	text-decoration: none;
}

.pagination-item a:hover {
	color: #ffffff;
	background-color: rgba(255, 255, 255, 0.4);
}

.pagination-item a:focus {
	color: #000000;
	background-color: #ffffff;
}

.container {
	width: 1200px;
	margin: 0 auto;
	padding: 0 27px;
	outline: 1px solid red;
	position: relative;
}

.main-navigation {
	display: flex;
	align-items: center;
	justify-content: space-between;
	outline: 1px solid green;
	line-height: 1.13;
	}

.main-header-logo {
	width: 160px;
	height: 60px;
	padding: 0;
	}

.main-menu {
	width: 600px;
	margin-right: 200px;
	display: flex;
	flex-wrap: wrap;
	align-items: center;
}

.user-menu {
	margin: 0;
	padding: 0;
	width: 400px;
	text-align: right;
	display: flex;
	justify-content: flex-end;
	align-items: center;
}

/*
.user-menu li {
	display: inline-block;
}
*/
.index-top-right {
float: right;
}

.slider-list {
	width: 700px;
	margin-right: auto;
	margin-left:  auto;
	margin-bottom: 40px;
}

.slider-switch li {
	display: inline-block;
	padding-left: 5px;
}

.promo {
	display: flex;
	justify-content: space-between;
	margin: 0;
	padding: 0;
	margin-bottom: 40px;
}

.catalog-hits {
	display: flex;
	justify-content: space-between;
	margin-bottom: 30px;
}

.catalog {
	width: 1147px;
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	align-items: stretch;
	}

.catalog-item {
	width: 267px;
	margin-bottom: 40px;
	text-align: center;
}

.title-catalog-item {
	text-decoration: underline;
}

.catalog-item span {
	font-size: 35px;
	line-height: 1;
}

.catalog-item .button-preview {
	display: none;
}

.index-columns {
	display: flex;
	justify-content: space-between;
	margin-bottom: 40px;
	min-height: 220px;
	outline: 1px solid orange;
}

.pagination-list {
	margin: 0;
	padding: 0;
	float: right;
	margin-bottom: 36px;
}

.pagination-list li {
	display: inline-block;
	padding: 10px;
}

.main-footer {
font-size: 13px;
	display: flex;
	padding: 30px;
	justify-content: space-between;
	align-items: flex-start;
	}

.footer-social {
	margin: 0;
	width: 185px;
	min-height: 45px;
	margin-right: 210px;
}

.footer-social li {
	display: inline-block;
}

.company-details {
	margin: 0;
	width: 400px;
	min-height: 30px;
}

.company-details li {
	display: inline-block;
	margin-right: 32px;
}

.footer-copyright {
	font-size: 12px;
	margin: 0;
	width: 200px;
	min-height: 60px;
	 margin-left: auto;
}

.breadcrumbs {
	padding-top: 25px;
	}

.breadcrumbs li {
	display: inline-block;
	padding: 0 10px;
}

.filters-wrapper {
		width: 860px;
		height: 131px;
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		flex-wrap: wrap;
		margin-bottom: 40px;
		outline: 1px solid yellow;
		position: relative;
	}

.filters p, ul {
	margin: 0;
	padding: 0;
	}

.sorting-filter {
	width: 193px;
	height: 56px;
	margin-bottom: 18px;
}

.price-filter {
	width: 218px;
	height: 57px;
	margin-bottom: 18px;
}

.fat-filter {
	width: 415px;
	height: 56px;
	margin-bottom: 18px;
}

.sorting-list,
.price-range .filter-input,
.fat-filter ul,
.filling-filter ul {
	display: flex;
	justify-content: space-between;
	list-style: none;
	background-color: rgba(255, 255, 255, 0.4);
	border-radius: 40px;
	padding: 5px 10px;
	}

.sorting-list {
	color:   #ffffff;
	font-size: 16px;
}

.sorting-list option {
	color: #000000;
}

.filling-filter {
	width: 702px;
	height: 56px;
	margin-bottom: 18px;
}

.clearfix::after {
	content: "";
  clear: both;
  display: table;
}
